.login-container{
    /* position: absolute;
    left: 50%;
    top: 50%; */
    margin-top: 16%;
    margin-left: 40%;
    margin-bottom: 10%;
    width: 300px;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.211);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding:20px;
    border-radius:10px;
    backdrop-filter: blur(18px);     
    transition: 0.4s ease-in;
   /* transform: translate(-50%, -50%); */
   background: linear-gradient(to top, rgb(231, 161, 161), rgb(245, 245, 245));
}


.login-container .box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.login-container .label{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top:5px;
    margin-bottom:18px;
}

.login-container h2{
    font-size: 30px;
    margin-bottom:20px;
    color:rgb(0, 0, 0);

}

#userinput{
    width:250px;
    height:30px;
    border-radius: 5px;
    margin-bottom:10px;
    outline: 0;
    padding:10px;
    border: 1px solid rgba(0, 0, 0, 0.359);
    background-color: transparent;
}

#userinput::placeholder{
    color: rgb(0, 0, 0);

}

#passinput{
    width:250px;
    height:30px;
    border-radius: 5px;
    outline: 0;
    padding:10px;
    border: 1px solid rgba(2, 1, 1, 0.359);
    background-color: transparent;
}

#passinput::placeholder{
    color: rgb(0, 0, 0);
}


.remember #check{
    width:17px;
    position:relative;
    top:2px;
}

.remember{
    margin-right:28px;
    font-size: 14px;
    color:rgb(0, 0, 0);
    cursor: pointer;
}



.forget{
    font-size:14px;
    color:rgb(0, 0, 0);
    cursor: pointer;
}

.forget:hover{
    font-size:14px;
    color:rgb(0, 0, 0);
    text-decoration: underline;
}

.btn{
    width:250px;
    height:28px;
    border-radius:5px;
    outline:0;
    border:1px solid rgb(0, 0, 0);
    cursor: pointer;
    margin-bottom:15px;
    background: linear-gradient(to top, rgb(231, 161, 161), rgb(242, 239, 239));
}

.from{
    border: 1px solid rgb(60, 60, 60);
    padding: 10px;
}