.navbar{
    width: 100%;
    height: auto;
    background-color: #1d1c1c;
    border: 2px solid rgba(0, 0, 0, 0.211);
    display:flex;
    justify-content: space-between;
    padding:10px;
    backdrop-filter: blur(20px);     
    transition: 0.4s ease-in;
    position: relative;
}

.lightmode {
    background-color: rgb(163, 240, 255);
    color: rgb(0, 0, 0); 
    transition: 1s;
}

.darkmode {
    background-color: #1b2935;
    color: white; 
    transition: 1s;
}


.Heading{
    color: #fff9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Heading h3 {
    font-size: 25px;
    font-weight: 600;
}
.Heading img{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

.nav-menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 18px;
}
.nav-menu #search input{
    border-radius: 50px;
    border: 1px solid rgb(230, 230, 230);
    padding: 5px;
    background-color: transparent;
    color: #ffffff;
}
.nav-menu #search input::placeholder {
color: #ffffff;
}


.themebtn{
   background-color: transparent;
    cursor: pointer;
    border: none;
}

.suggestions {
    height: 100px;
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    position: absolute; 
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: scroll;
}

.suggestions li {
    padding: 10px;
    cursor: pointer;
}

.login{
    padding: 10px ;
    display: flex;
}
.login button{
    border:1px;
    background-color: transparent;
    padding: 5px 7px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #fff9f9;
}

#cart{
    padding-top: 2px;
    margin-right: 10px;
    color: #ffffff;
}
.cart-container{
    display: flex;
}
/* .counter{
    position: relative;
    right: 22px;
    bottom: 7px;
    text-align: center;
    border-radius: 8px;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border: 1.5px solid #000000;
    color: #000000;
    line-height: 16px;
    font-size: 12px;
} */

